// Vars
$primaryBlue : #336aea;
$purpleHover : #c983ff;

// ---------------
.Sticky{
    position: fixed;
    top: 0;
}
.NavbarContainer{
    width: 100wh;
    .Header {
        width: 100%;
        padding: 1rem 6rem;
        z-index: 10;
        background: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(10rem);
        .logoContainer{
            display: grid;
            grid-template-columns: auto auto;
            place-items: center;
            gap: .5rem;
            text-decoration: none;
            color: $primaryBlue;
            .iconContainer{
                width: 4rem;
                img{
                    width: 100%;
                }
            }
            h2{
                text-decoration: none;
                color: $primaryBlue;
            }
        }
        .navList{
            display: flex;
            gap: 4rem;
            li{
                
                a{
                    text-decoration: none;
                    color: $primaryBlue;
                    position: relative;
                    &:hover{
                        color: $purpleHover;
                    }
                    &::after{
                        content: '';
                        display: block;
                        height: 2px;
                        width: 100%;
                        background-color: $purpleHover;
                        width: 0;
                        position: absolute;
                        top: 1.3rem;
                        transition: all ease-in-out 250ms;
                    }
                    &:hover::after{
                        width: 100%;
                    }
                }
                .activeLink{
                    color: $purpleHover;
                    &::after{
                        content: '';
                        display: block;
                        height: 2px;
                        width: 100%;
                        background-color: $purpleHover;
                        position: absolute;
                        transition: all ease-in-out 250ms;
                    }
                }
            }
        }
    }
}