// Vars
$primaryBlue : #336aea;
$purpleHover : #c983ff;

// ---------------
.Sticky{
    position: sticky;
    top: 0;
}
.NavbarContainer{
    width: 100wh;
    background: linear-gradient(to top left , white ,lightgray);
    .Header {
        width: 100%;
        padding: 1.5rem 6rem;
        z-index: 10;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        .HeaderTitle{
            font-weight: bolder;
            a{
                text-decoration: none;
                color: black;
            }
        }
        .navList{
            display: flex;
            gap: 4rem;
            li{
                
                a{
                    text-decoration: none;
                    color: $primaryBlue;
                    position: relative;
                    &:hover{
                        color: $purpleHover;
                    }
                    &::after{
                        content: '';
                        display: block;
                        height: 2px;
                        width: 100%;
                        background-color: $purpleHover;
                        width: 0;
                        position: absolute;
                        transition: all ease-in-out 250ms;
                    }
                    &:hover::after{
                        width: 100%;
                    }
                }
                .activeLink{
                    color: $purpleHover;
                    &::after{
                        content: '';
                        display: block;
                        height: 2px;
                        width: 100%;
                        background-color: $purpleHover;
                        position: absolute;
                        transition: all ease-in-out 250ms;
                    }
                }
            }
        }
    }
    .Introduction{
        width: 75rem;
        margin: 1rem auto;
        display: grid;
        grid-template-columns: 1.5fr auto;
        place-items: center;
        gap: 5rem;
        padding: 2em;
        .IntroInfo{
            .IntroInfoTitle{

            }
            .IntroInfoDescription{
    
            }
            .IntroInfoButtons{
                margin-top: 3rem;
                display: flex;
                justify-content: center;
                gap: 3rem;
            }
        }
        .imgContainer{
            img{
                width: 90%;
            }
        }
    }
}