// Vars
$primaryBlue : #336aea;
$purpleHover : #c983ff;
$boxShadow: .25em .25em .75em rgba(0,0,0,.25);
// Mixin
@mixin btn-style($bg,$color,$brc){
    background-color: $bg;
    color: $color;
    padding: .3em .5em;
    border: 2px solid $brc;
    border-radius: 2.5rem;
}
@mixin btnStyleHover($bg,$color){
    background-color: $bg;
    color: $color;
}
// Style
.HomePageContainer{
    margin-top: 6rem;
    .Introduction{
        background: linear-gradient(to top left , white ,lightgray);
        width: 100wh;
        margin: 1rem auto;
        display: grid;
        grid-template-columns: 1.5fr auto;
        place-items: center;
        gap: 5rem;
        padding: 2em 3em;
        .IntroInfo{
            .IntroInfoTitle{
                font-weight: 700;
                text-align: center;
                margin-block : 1em;
                font-size: 2em;
                background: linear-gradient(90deg, $primaryBlue, $purpleHover, $primaryBlue);   
                text-transform: uppercase;
                letter-spacing: .25em;
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                background-repeat: no-repeat;
                background-size: 70%;
                animation: shine 6s linear infinite;
                position: relative;
            }
            .IntroInfoDescription{
                text-align: justify;
            }
            .IntroInfoButtons{
                margin-top: 3rem;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 3rem;
                a{
                    text-decoration: none;
                }
                .CreateSurveyBtn{
                    @include btn-style($primaryBlue,white,$primaryBlue);
                    &:hover{
                        @include btnStyleHover(white,$primaryBlue)
                    }
                }
                .ViewSurveysBtn{
                    @include btn-style(white,$purpleHover,$purpleHover);
                    &:hover{
                        @include btnStyleHover( $purpleHover,white)
                    }
                }
            }
        }
        .imgContainer{
            img{
                width: 90%;
            }
        }
    }
    .LatestSurveyTitle{
        text-align: center;
        letter-spacing: .5em;
        font-size: 2.5rem;
        font-weight: bolder;
        margin: 3rem;
        background: linear-gradient(to right, $purpleHover, $primaryBlue);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .SurveyCards{
        display: grid;
        grid-template-columns: repeat(3,28%);
        justify-content: center;
        padding: 1em;
        gap: 2rem;
        .SurveyCard{
            height: fit-content;
            border-radius: .5em;
            box-shadow: $boxShadow;
            padding: .5em;
            .SurveyImgContainer{
                img{
                    width: 100%;
                    height: 15rem;
                    border-radius: .5rem;
                }
            }
            .SurveyInfoContainer{
                margin-top: .3rem;
                text-align: center;
                *{
                    padding-bottom: .3rem;
                }
                .SurveyTitle{
                    font-size: 1.3rem;
                    font-weight: 600;
                }
                .SurveyDescription{

                }
                .SurveyBtnContainer{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;
                    a{
                        text-decoration: none;
                    }
                    .SurveyReportBtn{
                        @include btn-style(white,$purpleHover,$purpleHover);
                        &:hover{
                            @include btnStyleHover( $purpleHover,white);
                        }
                    }
                    .AnswerSurveyBtn{
                        @include btn-style($primaryBlue,white,$primaryBlue);
                        &:hover{
                            @include btnStyleHover(white,$primaryBlue)
                        }
                    }
                }
            }
        }
    }
    .SeeMoreWrapper{
        width: 40%;
        margin: 2rem auto;
        a{
            text-decoration: none;
        }
        .SeeMoreBtn{
            font-family: monospace;
            background-color: #f3f7fe;
            color: #3b82f6;
            border: none;
            border-radius: 8px;
            width: 100%;
            height: 2.5rem;
            transition: .3s;
            padding: .5em;
            &:hover{
                background-color: #3b82f6;
                box-shadow: 0 0 0 5px #3b83f65f;
                color: #fff;
            }
            &:active{
                transform: scale(0.9);
            }
        }
    }
}
// animation
@keyframes shine {
    0% {
        background-position-x: -500%;
    }
    100% {
        background-position-x: 500%;
    }
}