@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
body{
  background: black;
  color: white;
}
.navFlex {
  @apply flex justify-between items-center
}
.primaryGreenBtn {
  @apply w-max h-max bg-green-500 px-4 py-2 rounded hover:bg-green-600 transition duration-500 ease-in-out
}
.flexBox {
  @apply flex justify-between items-center
}